#accordion {
    width: 50%;
    margin: 0 auto;
    font-family: Trebuchet MS;
}

#accordion div {
    position: relative;
}

#accordion input {
    display: none;
}

#accordion input:checked ~ article {
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

#accordion label {
    background: #fff;
    clear: both;
    display: block;
    padding: 10px 0 10px 20px;
    font-size: 25px;
    color: #660099;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
    float: left;
    box-sizing: border-box;
}

#accordion article {
    background: #fafafa;
    height: 0px;
    overflow: hidden;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #fafafa;
}
